body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.header{
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

section {
    margin-bottom: 20px;
}



nav {
    background-color: #f1f1f1;
    padding: 10px;
    top: 0;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

nav a:hover {
    color:rgb(87, 86, 86)
}

.title{

}

.subtitle{
    padding-left: 2%;
}